
:root:has(.mode input:checked)


    body:not(:has(:target)) .navbar .parant ul li .homel{
        color: white;
    }
    :root:has(.mode input:checked)
    
    body:has(#home:target) .navbar .parant ul li .homel {
        color: white ;
    }
    :root:has(.mode input:checked)
    
    body:has(#chefs:target) .navbar .parant ul li .chefsl {
        color: white ;
    }
    :root:has(.mode input:checked)
    
    
    body:has(#gallery:target) .navbar .parant ul li .galleryl {
        color: white ;
    }
    
    :root:has(.mode input:checked)
    
    body:has(#contact:target) .navbar .parant ul li .contactl {
        color: white ;
    }
    



:root:has(.mode input:checked)
.navbar .parant ul li a:hover {
    color: white;
}
:root:has(.mode input:checked) {
    
    .navbar .fa-bars{
    color: white;
    }

    .parant .list .navl{
        background-color:#252525;
    }

    .navbar .parant h2 {
        color: white;
    }

    .navbar .parant h2::after {
        color: #C78220;
    }

    .navbar .parant ul li a::before {
        background-color: #C78220;
    }

    .navbar {
        background-color: #171717;
        filter: none;
    }
    .navbar {
        background-color: #171717;
        filter: none;
    }


    .one {
        background-color: #252525;
    }

    .one .parant .img {
        filter: none;
    }
    
    .navbar .parant ul li a {
        color: #c0c0c0;
    }

    .one .parant .content .btn .o {
        background-color: #C78220;
    }

    .one .parant .content .btn .o:hover {
        background-color: #da8e25;
    }

    .one .parant .content .btn a {
        color: white;
    }
    
    .one .parant .content .btn .t .icon {
        background-image: linear-gradient(to right , #C78220 0% 50%, transparent 50% 100% );
    }

    .one .parant .content .btn .t .icon::before{
        background-color: black;
    }

    .one .parant .content .btn .t p {
        color: white;
    }

    .one .parant .content .btn .t p:hover{
        color: #C78220;
    }
    .one .parant .content .btn .t:hover {
        color: #C78220;
    }

    .one .parant .content h1 {
        color: white;
    }

    .headt h2 {
        color: #c0c0c0;
    }

    .headt p {
        color: white;
    }

    .headt span {
        color: #C78220;
    }

    .two {
    background-color: #202020;
    padding: 0;
    margin: 0;
    height: fit-content;
    }

    .two .parant .cards .cardo .img::before {
        background-image: url(../img/team-shape-dark.svg);
    }
    .two .parant .cards .cardt .img::before {
        background-image: url(../img/team-shape-dark.svg);
    }
    .two .parant .cards .cardth .img::before {
        background-image: url(../img/team-shape-dark.svg);
    }

    .two .parant .cards .title{
        background-color: #171717;
        
    }

    .two .parant .cards .title h3 {
        color: white;
    }
    
    .two .parant .cards .title span {
        color: #c0c0c0;
    }
    
    .two .parant .cards .title p {
        font-style: italic;
        color: #c0c0c0;
        font-size: 14px;
        margin-top: 8px;
    }

    .three {
        background-color: #252525;
    }

    .four {
        background-color: #202020;
    }

    .four .parant .us > div {
        background-color: #171717;
    }

    .four .parant .us .icon {
        background-color: #C78220;
        color: black;
    }

    .four .parant .us h3 {
        color: #c0c0c0;
    }
    
    .four .parant .us p {
        color: white;
    }
    
    .four .parant .us a {
    color: white;
    }

    .four .parant form {
        background-color: #171717;
    }

    .four .parant form button {
        background-color: #C78220;
    }

    .four .parant form a {
        background-color: #C78220;
    }
    .four .parant form a:hover {
        background-color: #da8e25;
    }

    .footer .parant .sub .btn {
        background-color: #C78220;
    }

    .footer .parant .sub .btn:hover {
        background-color: #da8e25;
    }

    .footer .parant .con ul li i {
        color: #C78220;
    }
}



body:has(.mode input:checked) .mode .light {
    display: block;
    color: white;
}

body:has(.mode input:checked) .mode .dark {
    display: none;
}
